@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Lexend";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.theme{
  color: #f2690d;
}
.theme-bg{
  background-color: #f2690d;
}
button{
  outline: none;
  border: 0;
  background-color: #f2690d;
  padding: 8px 16px; 
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  color: white;
  cursor: pointer;
}
nav{
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  position: sticky;
  top:0;
}
.nav-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding: 24px;
}
nav ul{
  display: flex;
  align-items: center;
  gap: 24px;
}
li{
  list-style: none;
  cursor: pointer;
}
input[type="text"]{
  background-color: #eaeaea;
  outline: none;
  border: 0;
  padding: 10px 15px; 
  border-radius: 10px;
}
.info-container p{
  font-size: 24px;
}
.details-container,
.movies-container{
  max-width: 1200px;
  margin: auto;
  padding: 24px;
}
.movie-card{
  width: 240px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.movie-card button{
  align-self: flex-start;
  margin-top: 8px;
}
.poster{
  width:100%;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}
.details-container img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 12px;
  border-radius: 15px;
}
.details-container section{
  margin: 24px 0;
  display: flex;
  flex-direction: column;
  gap: 12px ;
  align-items: start;
}
#back-btn{
  width: 45px;
  height: 24px;
  margin-bottom: 24px;
  cursor: pointer;
}
.star-container{
  display: flex;
  gap: 4px;
}
.star{
  height: 20px;
  width: 20px;
}